* {
    margin: 0;
    text-align: center;
}

#nav-header li, #nav-footer li {
    display: inline;
    font-size: 16px;
    line-height: 2,5;
    margin: 20px 15px;
    text-transform: uppercase;
    font-weight: 900;

}

a {
    text-decoration: none;
    color: #DA4167;
}

#nav-header {
    color: #DA4167;
    background-color: #313638;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 25px 0;
    /* position: fixed; */j
    top: 0;
    margin-bottom: 3px black;
}


ul {
    list-style: none;
}

ul li {
    line-height: 2,5;
}

#contacto a {
    background-color: #F1A208;
    color: #313638;
    padding: 10px;
    border-radius: 9px;
}

#presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 25px 0;
    background-color:#E8E9EB;
}

#presentacion-izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 2,5;
}

#img-presentando {
    width: 75%;
    height: 75%;
}

#habilidades {
    padding: 25px 0;
    background-color: #6A994E;
}

#lenguajes {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 25px 0;
    margin-bottom: 1px;
}

i {
    font-size: 125px;
    line-height: 2,5;
    margin: 20px 15px; 
}

.len {
    margin: 1em;
    border: 1px solid #6A994E;
    border-radius: 9px;
    width: 33%;
    flex-wrap: wrap;
    padding: 20px 15px; 
    background-color: #E8E9EB;
}

#cita {
    background-color: #313638;
    color: #F1A208;
    padding: 25px 0;
}


#proyectos {
    padding: 25px 0;
    background-color: #6A994E;
}

#tarjetas {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 25px 0;
}

.col {
    margin: 1em;
    border: 1px solid #6A994E;
    border-radius: 9px;
    width: 33%;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    background-color: #fff;
    padding: 20px 15px; 

}

#tarjetas img {
    width: 100%;    
}


#form-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 25px 0;
    background-color:#E8E9EB;
}

#form-izq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    line-height: 2,5;
}

#form-der {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #6A994E;
}

form {
    padding: 50px;
}


footer {
    padding: 25px 0;
    background-color: #6A994E;
}

#nav-footer {
    color: #DA4167;
    background-color: #313638;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 25px 0;
}

#contacto-footer {
    padding: 25px 0;
    background-color: #6A994E;
}

#contacto-footer a {
    font-size: 16px;
    line-height: 2,5;
    margin: 20px 15px;
}

#footer-bio {
    background-color: #6A994E;
}